  <div *ngFor="let doc of model.documents">
    <button type="button"
            class="btn btn-danger remove-btn"
            [disabled]="!canEditDocument(doc)"
            (click)="removeDocument(doc.Id)">
      <span aria-hidden="true">&times;</span>
    </button>
    <span>{{doc.Name}}</span>
  </div>
  <hr>
  <div *ngFor="let file of model.newFiles;let index = index">
    <button type="button"
            class="btn btn-danger remove-btn"
            (click)="removeFile(index)">
      <span aria-hidden="true">&times;</span>
    </button>
    <span>{{file.name}}</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" (change)="uploadNewFile($event)">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>