<form class="auth-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <div>

  </div>
  <div class="form-label-group">
    <label type="email">
      First Name:
      <input class="form-control" type="text" formControlName="userName">
    </label>
  </div>
  <div class="form-label-group">
    <label>
      Last Name:
      <input class="form-control" type="text" formControlName="userPassword">
    </label>
  </div>
  <button type="submit" class="btn form-submit" [disabled]="!loginForm.valid">Submit</button>
</form>