@import '~src/styles/form.styl'
@import '~src/styles/auth-form.styl'

.navigation-button
    width 40%
    margin 0 1em
    background-color #007bff

.date-picker-container
    width 100%

::ng-deep
    .ui-datepicker-touch-ui
        height 70%
    
    .ui-calendar
        width 100%
        margin-bottom 2em

    .ui-calendar.ui-calendar-w-btn .ui-inputtext
        width calc(100% - 2.357em)