<div class="patient-registration-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-label-group"
         [class.form-label-failed-group]="submitTouched && formErrors.bornDate">
      <label>
        Born date:
        <div class="date-picker-container">
          <p-calendar [maxDate]="maxDateFrom"
                      [yearNavigator]="true"
                      [touchUI]="true"
                      [showIcon]="true"
                      dateFormat="dd.mm.yy"
                      showButtonBar="true"
                      yearRange="1919:2030"
                      (onSelect)="onSelectBornDate($event)"
                      formControlName="bornDate">
          </p-calendar>
        </div>
        <div *ngIf="submitTouched && formErrors.bornDate" class="validation-error-text">
          {{formErrors.bornDate}}
        </div>
      </label>
    </div>
    <div>
      <button type="submit"
              class="btn btn-secondary navigation-button"
              [disabled]="submitTouched && !registerForm.valid">
        Submit
      </button>
      <button type="button"
              class="btn btn-secondary navigation-button"
              (click)="movePreviousStep()">
        Back
      </button>
    </div>
  </form>
</div>