<div class="auth-form registration-container">
  <div *ngIf="!isMainInfoSubmitted" class="main-information">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group">
        <label>
          User Name:
          <input type="text" class="form-control" formControlName="userName">
        </label>
      </div>
      <div class="form-label-group">
        <label>
          User Surname:
          <input type="text" class="form-control" formControlName="userSurname">
        </label>
      </div>
      <div class="form-label-group">
        <label>
          User Email:
          <input type="email" class="form-control" formControlName="userMail">
        </label>
      </div>
      <div class="form-label-group">
        <label>
          Password:
          <input type="password" class="form-control" formControlName="password">
        </label>
      </div>
      <div class="form-label-group">
        <label>
          Role:
          <label>
            <input type="radio" value="Patient" formControlName="userRole">
            <span>Patient</span>
          </label>
          <label>
            <input type="radio" value="Clinician" formControlName="userRole">
            <span>Clinician</span>
          </label>
        </label>
      </div>
      <button type="submit"
              class="btn btn-secondary navigation-button"
              [disabled]="!registerForm.valid">
        Continue
      </button>
      <button type="submit"
              class="btn btn-secondary navigation-button"
              (click)="cancelRegistration()">
        Cancel
      </button>
    </form>
  </div>
  <app-patient-registration *ngIf="isMainInfoSubmitted && isPatient"
                            [returnUrl]="returnUrl"
                            [model]="registrationModel"
                            (cancel)="showMainRegistration()">
  </app-patient-registration>
  <app-clinician-registration *ngIf="isMainInfoSubmitted && !isPatient"
                              [returnUrl]="returnUrl"
                              [model]="registrationModel"
                              (cancel)="showMainRegistration()">
  </app-clinician-registration>
</div>