@import '~src/styles/form.styl'
@import '~src/styles/auth-form.styl'

.registration-container
    padding 1em 2em
    background-color rgba(100, 100, 100, 0.2)
    border-radius 1em
    margin-top 5em
    .navigation-button
        width 40%
        margin 0 1em