.selected-clinics
    margin 1em
    .selected-item
        margin .5em 0
        .remove-btn
            margin-right 1em

.navigation-button
    width 40%
    margin 0 1em
    background-color #007bff

.selection-button
    margin-top 1em
    margin-left 1em
    width 90%
    background-color #007bff

::ng-deep
    .dropdown-menu
        top 240px !important
        overflow-y auto !important
