@import '~src/styles/form.styl'
@import '~src/styles/auth-form.styl'
@import '~src/styles/buttons-area.styl'

.patient-profile-container
    display flex
    justify-content center

.navigation-button
    margin 0 1em
    background-color #007bff

.date-picker-container
    width 100%

::ng-deep
    .ui-datepicker-touch-ui
        height 70%
    
    .ui-calendar
        width 100%
        margin-bottom 2em