.booking-container
    padding 50px 0
    height 100%
    .create-container
        position fixed
        width 70px
        height 70px
        margin 20px
        bottom 20px
        right 30px

    .document-list
        ul
            li
                word-wrap break-word
                cursor pointer
.action-btn
    width 100px
    margin .5em