<div class="booking-container">
  <app-table [columns]="columns"
             [data]="bookings"
             [totalAmount]="totalDataAmount"
             [mobileWidth]="768"
             [rowAmount]="tableRowAmount"
             (pageChanged)="uploadBookings($event)"
             (rowClicked)="openEditWindow($event.data, $event.index)">
  </app-table>
  <div *ngIf="isPatient" class="create-container">
    <button class="btn btn-dark"
            type="button"
            (click)="crateNewBooking()">Create</button>
  </div>
</div>

<ng-template let-data="data" #documetsColumn>
  <div class="document-list">
    <ul>
      <li *ngFor="let document of data?.Documents"
          (click)="downloadDocument($event, document)">{{document.Name}}</li>
    </ul>
  </div>
</ng-template>

<ng-template let-data="data" #updateDateColumn>
  <span>
      {{data.UpdateDate | date:"MM.dd.yy 'at' hh:mm"}}
  </span>
</ng-template>

<ng-template let-data="data" #rateColumn>
  <div>
    <app-rating [rating]="data?.BookingRate"
                [itemId]="data?.Id"
                [disabled]="!canRateBooking(data)"
                (ratingClick)="updateRate(data?.Id, $event?.rating)"></app-rating>
  </div>
</ng-template>

<ng-template let-data="data" #actionsHeaderColumn>
  <div>
    <p-dropdown [options]="stages"
                [dropdownIcon]="''"
                [(ngModel)]="stageForFlter"
                (onChange)="onFilterStageChanged()"></p-dropdown>
  </div>
</ng-template>

<ng-template let-data="data" #actionsColumn>
  <div class="status-column">
    <div [attr.class]="'staging-item staging-item-' + getStage(data)">{{getStage(data)}}</div>
    <button *ngIf="isClinic" class="btn btn-danger action-btn"
            (click)="removeBooking($event, data?.Id)">
      Remove
    </button>
    <button *ngIf="canConfirm(data)"
            class="btn btn-secondary action-btn"
            (click)="updateStage($event, data?.Id, stage.Confirmed, confirmedNotificationMessage)">
      Confirm
    </button>
    <button *ngIf="canReject(data)"
        class="btn btn-secondary action-btn status-action-btn"
        (click)="updateStage($event, data?.Id, stage.Rejected, confirmedNotificationMessage)">
      Reject
    </button>
    <button *ngIf="canCancel(data)"
        class="btn btn-secondary action-btn status-action-btn"
        (click)="updateStage($event, data?.Id, stage.Canceled, confirmedNotificationMessage)">
      Cancel
    </button>
    <button *ngIf="canComplete(data)"
            class="btn btn-secondary action-btn status-action-btn"
            (click)="updateStage($event, data?.Id, stage.Completed, completedNotificationMessage)">
      Complete
    </button>
  </div>
</ng-template>

<ng-template let-data="data" #patientColumn>
  <span>{{data.PatientName}} ({{data.PatientAge}} y.o.)</span>
</ng-template>

<app-edit *ngIf="bookingToUpdate"
          [visibility]="isEditWindowOpen"
          [model]="bookingToUpdate"
          [new]="isAddingNewBooking"
          [isPatient]="isPatient"
          [isClinician]="isClinician"
          [isClinic]="isClinic"
          (closeEditWindow)="closeEditWindow()"
          (editCompleted)="editBooking($event)">
</app-edit>
