<div class="booking-container">
  <app-table [columns]="columns"
             [data]="bookings"
             [totalAmount]="totalAmount"
             [mobileWidth]="768"
             (pageChanged)="updateData($event)"
             (rowClicked)="updateBoking($event.data, $event.index)">
  </app-table>
  <div *ngIf="isPatient" class="create-container">
    <button class="btn btn-dark btn-outline-success"
            type="button"
            (click)="crateNewBooking()">Create</button>
  </div>
</div>

<ng-template let-documents="data" #documetsColumn>
  <div class="document-list">
    <ul>
      <li *ngFor="let document of documents"
          (click)="loadDocument($event, document)">{{document.Name}}</li>
    </ul>
  </div>
</ng-template>

<app-edit *ngIf="bookingToUpdate"
          [visibility]="isEditOpen"
          [model]="bookingToUpdate"
          [new]="isAddingNewBooking"
          [patient]="isPatient"
          (closeEditWindow)="closeEditWindow()"
          (editCompleted)="updateEditingModel($event)">
</app-edit>
