<div class="container">
  <div class="map-container">
    <agm-map
      [zoomControl]="false"
      [latitude]="latitude"
      [longitude]="longitude"
      [disableDoubleClickZoom]="true"
      [fullscreenControl]="true"
      (mapReady)="mapReady($event)">
        <agm-marker
          *ngFor="let clinic of clinics"
          [iconUrl]="getIconUrl()"
          [latitude]="clinic.Lat"
          [longitude]="clinic.Long"
          [markerDraggable]="false"
          [label]="clinic.ClinicName" >
          <agm-info-window [disableAutoPan]="true">
            <app-clinic-info [clinic]="clinic"></app-clinic-info>
          </agm-info-window>
        </agm-marker>
    </agm-map>
  </div>
</div>

<app-edit *ngIf="bookingToUpdate"
          [visibility]="isEditWindowOpen"
          [model]="bookingToUpdate"
          [new]="isAddingNewBooking"
          [isPatient]="isPatient"
          (closeEditWindow)="closeEditWindow()"
          (editCompleted)="editBooking($event)">
</app-edit>
