<div class="container">
  <h3>Closest clinics:</h3>
  <div class="map-container">
    <agm-map
      [zoomControl]="false"
      [latitude]="latitude"
      [longitude]="longitude"
      [disableDoubleClickZoom]="true"
      [fullscreenControl]="true">
        <agm-marker
          *ngFor="let clinic of clinics"
          [iconUrl]="getIconUrl()"
          [latitude]="clinic.Lat"
          [longitude]="clinic.Long"
          [markerDraggable]="false"
          [label]="clinic.ClinicName" >
          <agm-info-window [disableAutoPan]="true">
            <app-clinic-info [clinic]="clinic"></app-clinic-info>
          </agm-info-window>
        </agm-marker>
    </agm-map>
  </div>
</div>
