<div>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div>
        <label>
            Reciept:
          <input type="text" formControlName="reciept">
        </label>
      </div>
      <div>
        <label>
            Name:
          <input type="text" formControlName="name">
        </label>
      </div>
      <div *ngIf="isPatient">
        <label>
            Clinic:
          <select (change)="filterClinicians($event.target.value)" formControlName="clinic">
            <option selected> -- select an option -- </option>
            <option *ngFor="let clinic of clinics" [attr.value]="clinic.Id">{{clinic.Name}}</option>
          </select>
        </label>
      </div>
      <div *ngIf="isPatient">
        <label>
          Clinician Id:
          <select formControlName="clinician">
            <option> -- select an option -- </option>
            <option *ngFor="let item of clinicians" [attr.value]="item.Id">{{item.Name}}</option>
          </select>
        </label>
      </div>
      
      <app-edit-document [model]="model"></app-edit-document>

      <button type="submit" [disabled]="!canSubmit()">Submit</button>
    </form>
  </div>
  