<app-modal [isVisiable]="visibility" (changed)="changeVisibility($event)">
  <div class="edit-header" m-header>
      Edit booking
  </div>
  <div m-close-button>CLOSE</div>
  <div class="edit-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group"
           [class.form-label-failed-group]="submitTouched && formErrors.name">
        <label>
            Name:
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 [attr.disabled]="!canEditName ? '' : null">
          <div *ngIf="submitTouched && formErrors.name" class="validation-error-text">
            {{formErrors.name}}
          </div>
        </label>
      </div>
      <div *ngIf="canViewHealthInfo" class="form-label-group">
        <label>
            Heart Rate:
          <input type="text"
                 class="form-control"
                 formControlName="heartRate"
                 [attr.disabled]="!canEditHealthInfo ? '' : null">
        </label>
      </div>
      <div *ngIf="canViewHealthInfo" class="form-label-group">
        <label>
            Weight:
          <input type="text"
                 class="form-control"
                 formControlName="weight"
                 [attr.disabled]="!canEditHealthInfo ? '' : null">
        </label>
      </div>
      <div *ngIf="canViewHealthInfo" class="form-label-group">
        <label>
            Height:
          <input type="text"
                 class="form-control"
                 formControlName="height"
                 [attr.disabled]="!canEditHealthInfo ? '' : null">
        </label>
      </div>
      <div class="form-label-group">
        <label>
            Patient Description:
          <textarea type="text"
                    class="form-control"
                    formControlName="patientDescription"
                    [attr.disabled]="!canEditDescription ? '' : null">
          </textarea>
        </label>
      </div>
      <div class="form-label-group" *ngIf="isPatient"
           [class.form-label-failed-group]="submitTouched && formErrors.clinic">
        <label>
            Clinic:
          <select class="form-control"
                  (change)="filterClinicians($event.target.value)"
                  formControlName="clinic"
                  [attr.disabled]="!canEditClinicClinician ? '' : null">
            <option> -- select an option -- </option>
            <option *ngFor="let clinic of clinics"
                    [attr.selected]="model.clinicId && clinic.id === model.clinicId"
                    [attr.value]="clinic.Id">{{clinic.Name}}</option>
            <option *ngIf="!fixedClinicList" [attr.value]="loadClinicsOptionId">Upload Clinics...</option>
          </select>
          <div *ngIf="submitTouched && formErrors.clinic" class="validation-error-text">
            {{formErrors.clinic}}
          </div>
        </label>
      </div>
      <div class="form-label-group" *ngIf="isPatient"
           [class.form-label-failed-group]="submitTouched && formErrors.clinician">
        <label>
            Clinician:
          <select class="form-control"
                  formControlName="clinician"
                  [attr.disabled]="!canEditClinicClinician ? '' : null">
            <option> -- select an option -- </option>
            <option *ngFor="let clinician of clinicians"
                    [attr.selected]="model.clinicianId && clinician.id === model.clinicianId"
                    [attr.value]="clinician.Id">{{clinician.Name}}</option>
          </select>
          <div *ngIf="submitTouched && formErrors.clinician" class="validation-error-text">
            {{formErrors.clinician}}
          </div>
        </label>
      </div>
      <app-edit-document [model]="model"
                         [disabled]="!canEditDocuments"></app-edit-document>
    </form>
  </div>
  <div m-footer>
    <button type="submit"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="submitTouched && !canSubmit()">Submit</button>
  </div>
</app-modal>
