<app-modal [isVisiable]="visibility" (changed)="changeVisibility($event)">
  <div class="edit-header" m-header>
      Edit booking
  </div>
  <div m-close-button>CLOSE</div>
  <div class="edit-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group"
           [class.form-label-failed-group]="submitTouched && formErrors.reciept">
        <label>
            Reciept:
          <input type="text" class="form-control" formControlName="reciept">
          <div *ngIf="submitTouched && formErrors.reciept" class="validation-error-text">
            {{formErrors.reciept}}
          </div>
        </label>
      </div>
      <div class="form-label-group"
           [class.form-label-failed-group]="submitTouched && formErrors.name">
        <label>
            Name:
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="submitTouched && formErrors.name" class="validation-error-text">
            {{formErrors.name}}
          </div>
        </label>
      </div>
      <div class="form-label-group" *ngIf="isPatient"
           [class.form-label-failed-group]="submitTouched && formErrors.clinic">
        <label>
            Clinic:
          <select class="form-control"
                  (change)="filterClinicians($event.target.value)"
                  formControlName="clinic">
            <option selected> -- select an option -- </option>
            <option *ngFor="let clinic of clinics"
                    [attr.selected]="clinic.id === model.clinicId"
                    [attr.value]="clinic.Id">{{clinic.Name}}</option>
            <option *ngIf="!fixedClinicList" [attr.value]="loadClinicsOptionId">Upload Clinics...</option>
          </select>
          <div *ngIf="submitTouched && formErrors.clinic" class="validation-error-text">
            {{formErrors.clinic}}
          </div>
        </label>
      </div>
      <div class="form-label-group" *ngIf="isPatient"
           [class.form-label-failed-group]="submitTouched && formErrors.clinician">
        <label>
            Clinician:
          <select class="form-control" formControlName="clinician">
            <option selected> -- select an option -- </option>
            <option *ngFor="let clinician of clinicians"
                    [attr.selected]="clinician.id === model.clinicianId"
                    [attr.value]="clinician.Id">{{clinician.Name}}</option>
          </select>
          <div *ngIf="submitTouched && formErrors.clinician" class="validation-error-text">
            {{formErrors.clinician}}
          </div>
        </label>
      </div>
      <app-edit-document [model]="model"></app-edit-document>
    </form>
  </div>
  <div m-footer>
    <button type="submit"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="submitTouched && !canSubmit()">Submit</button>
  </div>
</app-modal>
