.form-submit
    display block
    width 100%
    color #ffffff
    background-color #007bff
    border-color #007bff
    padding .5rem 1rem
    font-size 1.25rem
    border-radius .3rem

.form-label-group
    label
        width 100%