<div class="app-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Clinic</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/booking">Booking</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/clinic">Closest Clinics</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item nav-auth-item">
          <a class="nav-link" (click)="logOutUser()">Logout</a>
          <p-toolbar>
            <p-accordion>
              <p-accordionTab [header]="'Events (' + totalNotificationsCount + ')'">
                <ul class="list-group">
                  <li *ngFor="let notification of notifications"
                      class="list-group-item"
                      [class.unread-list-item]="!notification.IsRead">
                      <div class="read-state-container">
                        <i *ngIf="!notification.IsRead"
                            class="pi pi-circle-off"
                            (click)="markNotificationAsRead(notification.Id)"></i>
                        <i *ngIf="notification.IsRead"
                            class="pi pi-check-circle"></i>
                      </div>
                      <div class="main-part">
                          <div class="additional-info">
                            <div class="data-info">
                              {{notification.CreationDate.toLocaleString()}}
                            </div>
                            <div class="author-info">
                              {{notification.UserName}}
                            </div>
                            <div class="remove-notification-container">
                              <i class="pi pi-times-circle"
                                 (click)="removeNotification(notification.Id)"></i>
                            </div>
                          </div>
                          <div class="notification-container">
                              {{notification.Message}}
                          </div>
                      </div>
                  </li>
                  <li *ngIf="notifications?.length > 0"
                      class="list-group-item list-group-upload"
                      (click)="uploadMoreNotification()">
                    <div class="upload-more-button">
                      Upload more
                    </div>
                  </li>
                  <li *ngIf="notifications.length <= 0">
                    <span class="list-group-item list-group-upload">No Events</span>
                  </li>
                </ul>
             </p-accordionTab>
            </p-accordion>
          </p-toolbar>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div *ngIf="hasLoadedResources" class="loader-conatainer">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
